@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    padding: 0;
    /* background-color: black;
    background-image: url('/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}